<div style="padding-top: 15px;
padding-left: 15px;
padding-right: 15px;">

    <h1 class="main__heading">
        Administrator Panel
    </h1>

    <h2 class="add_user_heading">Edit Account for "{{data["first Name"]}} {{data["last Name"]}}" </h2>


    <div class="container">
	<div class="form-wrap">	
		<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" formControlName="fname" id="fname" placeholder="FIRST NAME" class="form-control" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" formControlName="lname" id="lname" placeholder="LAST NAME" class="form-control" required>
					</div>
				</div>
			</div>

            <div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" formControlName="email" id="email" placeholder="EMAIL" class="form-control" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" formControlName="phoneNo" id="phoneNo" placeholder="PHONE NUMBER" class="form-control" required>
					</div>
				</div>
			</div>
			
			<div class="row">
				
                  <div class="col-md-6">
                    <div class="form-group">
                        <label>GROUP</label>
                        <select formControlName="group" class="form-control-dropdown" required>
                                <option disabled selected value>Select</option>
                                <option value="administrator">Administrator</option>
                                <option value="member">Member</option>
                                <option value="non-member">Non Member</option>
                                <option value="Group A">Group A</option>
                                <option value="Group B">Group B</option>
                        </select>                     
                    </div>
                  </div>


                <div class="col-md-6">
					<div class="form-group">
						<label id="number-label" for="number">MEMBERS VALIDITY UPTO</label>
						<input type="date" formControlName="date" id="date" class="form-control" placeholder="Select Date" >
					</div>
				</div>
			</div>
			
            <div class="row">
				
                <div class="col-md-6">
                  <div class="form-group">
                      <select formControlName="status" class="form-control-dropdown" required>
                              <option disabled selected value>Select</option>
                              <option value="Active">Active</option>
                              <option value="Deactivate">Deactivate</option>
                      </select>                     
                  </div>
                </div>
          </div>

			<div class="row">
				<div class="col-md-4">
					<button type="submit" id="submit" class="btn btn-primary btn-block">Submit</button>
				</div>
			</div>

		</form>
	</div>	
</div>



</div>