<div class="resource__page">

  <h2>Resources</h2>

  <div class="resource-row">
    <div class="resource-item" *ngFor="let resource of resources" (click)="openContent(resource)">
      <div class="resource-title">
        <h3>{{ resource.title }}</h3>
      </div>

      <div class="responsive-content">
        <div class="image-container">
          <img [src]="resource.imagePath" alt="Resource Image">
        </div>
        <div class="resource-text">
          
            <p>{{ resource.data }}</p>
         
        </div>
      </div>
     
      
    </div>
  </div>
</div>
