  .container{
    overflow: auto;
  }
  .heading{
    font-size: 20px;
    font-weight: 500;
    }

.heading span{
    margin-right: 10px;
}

.totalItems span{
    font-size: 18px;
    font-weight: 500;
}

  .mat-elevation-z8 {
    width: 100%;
  }
  
  .error-block {
    color: red;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .error-block img{
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
  }
  
  tr.mat-row:hover {
    background-color: #f5f5f5;
  }

  .filter{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 5px;
    margin-bottom: 20px;
  }
  
  .filter input{
    margin-left: 4px;
    margin-right: 4px;
  }
  
  .no-data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .no-data-container img{
    width: 35%;
  }

  .no-data-container p{
    font-weight: 500;
  }

  .default-error-pic{
    width: 500px;
  }

  @media screen and (max-width : 630px) {

    .default-error-pic{
        width: 400px;
      }
  }

  @media screen and (max-width : 400px) {

      .default-error-pic{
    width: 350px;
  }

  }