<div class="container">
  <app-header></app-header>


<div class="middle__content" *ngIf="!hideMiddleContent">
  <mat-drawer-container class="example-container" *ngIf="userLoggedIn">
    <mat-drawer mode="side" opened class="sidemenu">
      <app-sidemenu></app-sidemenu>
    </mat-drawer>
    <mat-drawer-content>

      <div class="top__menu">
        <app-sidemenu></app-sidemenu>
      </div>
        
      <router-outlet></router-outlet>
      
    </mat-drawer-content>
  </mat-drawer-container>

  <!-- when user logs in, change state! -->
  <!-- <app-home-page *ngIf="!userLoggedIn"></app-home-page> -->

  
</div>

<div *ngIf="hideMiddleContent">
  <router-outlet></router-outlet>
</div>
 



  <app-footer></app-footer>
</div>
