<div class="admin_main_heading">
    <h1>Admin Panel >> Member Data Upload</h1>
  </div>

  <h2 class="heading">User Data Upload</h2>

  <div>
    <p style="color: #747373;
    font-size: 15px;"><strong>Select File to upload :</strong></p>
    <div class="col-md-9">
        <input type="file" name="uploadFile" id="uploadFile">
    </div>
    
  </div>

  <div class="row mt-2">
    <div class="col-md-4">
        <button type="submit" id="submit" class="btn btn-primary btn-block">Upload</button>
    </div>
    </div>